#root {
	/* max-width: 1280px; */
	width: 100%;
	height: 100%;
	text-align: center;
  background-color: #0048c7;
}

body {
	background-color: #0048c7;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

p{
  padding: 0;
  margin: 0;
}


/* Media Queries */
@media (min-width: 600px) {
  .weather-container {
    padding: 40px;
  }
  .select-container {
    flex-direction: row;
  }
  .select-container Select {
    max-width: 200px;
  }
}

@media (max-width: 599px) {
  .weather-container {
    padding: 20px;
  }
  .select-container select {
    max-width: 100%;
  }

  .card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}